[v-cloak] {
  display: none !important;
}

html, body {
  /* スマホにて、下スクロールによるページリロードを封じる */
  overscroll-behavior: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  /* ダブルタップによる拡大禁止 */
  touch-action: manipulation;
}

body {
  margin: 32px 8px 32px 8px;
  background-color: #121314;
  color: white;
  font-size: 16px;
}

#main {
  width: fit-content;
  margin: 0 auto;
}

#canvas-container {
  margin-bottom: 16px;
}

canvas {
  user-select: none;
  image-rendering: pixelated;
}

#c0 {
  margin: 0 auto;
  min-width: 340px;
  max-width: 600px;
  width: 100%;
}

details {
  margin-top: 8px;
}

summary {
  width: fit-content;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

select,
button {
  height: 28px;
  padding: 0 6px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 50px;
  height: 28px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  inline-size: 1.3em;
  block-size: 1.3em;
}

label {
  line-height: 1;
}

.pad-button-config,
.config {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item-add-config {
  flex-wrap: wrap;
}

.pad-button-config label {
  width: 10em;
  text-align: right;
}

#otasuke,
#cheat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
